header {
    padding-top : 1.2%;
    padding-bottom: 1%;
}

.header_Nav {
    font-weight: bold;
    font-size: 21px;
    width: 200px;
}

.nav_Span:hover {
    cursor: pointer;
    font-size: 23px;
    color:rgb(120, 175, 10);
}

 /* 추가 */
 .header_Nav_Img {
    text-align: left;
}

.header_Nav_Button {
    text-align: right;
    width: 320px;
}

.stst {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.stst:hover {
    cursor: pointer;
}
