.header-layout {
    padding-top : 1.2%;
    padding-bottom: 1%;
}

.header-nav {
    font-weight: bold;
    font-size: 21px;
    width: 200px;
}

.nav-span:hover {
    cursor: pointer;
    font-size: 23px;
    color:rgb(120, 175, 10);
}

 /* 추가 */
 .header-nav-img {
    text-align: left;
}

.header-nav-button {
    text-align: right;
    width: 320px;
}

.header-span {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

.header-span:hover {
    cursor: pointer;
}
