/* 마우스 hover시 이미지 변경 */
/* 마이페이지 */
.myPage-img-wap {
    margin-top: 5px;
}

.myPage-img-wap img:last-child {
    display: none;
}

.myPage-img-wap:hover img:first-child {
    display: none;
}

.myPage-img-wap:hover img:last-child {
    display: inline-block;
}

/* 장바구니 */
.basket-img-wap {
    margin-top: 5px;
}

.basket-img-wap img:last-child {
    display: none;
}

.basket-img-wap:hover img:first-child {
    display: none;
}

.basket-img-wap:hover img:last-child {
    display: inline-block;
}

/* 문의하기 */
.qna-img-wap {
    margin-top: 5px;
}

.qna-img-wap img:last-child {
    display: none;
}

.qna-img-wap:hover img:first-child {
    display: none;
}

.qna-img-wap:hover img:last-child {
    display: inline-block;
}

/* Top Button */
.top-button {
    background-color: #444;
    color: white;
    font-weight: bold;
    width: 75px;
}

/* 좌표 고정 */
.sidebar-layout {
    position: fixed;
    top: 470px;
    left: 1630px;
}

/* SideBar 스타일 */
.sidebar-layout table {
    text-align: center;
    background-color: white;
}

.sidebar-thead {
    text-align: center;
    background-color: white;
    border-bottom: 1.5px solid rgb(233, 235, 238);
    line-height: 30px;
    width: 75px;
}

.sidebar-td {
    text-align: center;
    background-color: white;
    border-bottom: 1.5px solid rgb(233, 235, 238);
    line-height: 30px;
    width: 75px;
    cursor: pointer;
}

.sidebar-td-span {
    color: #5f6c81;
    font-size: 12px;
    font-weight: 800;
}
