<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oillive.dao.AdminDao">
	
	<!-- 관리자 로그인 비밀번호 -->
	<select id="getMpassword" resultType="String" parameterType="String">
		SELECT admin_pwd
		  FROM admin
		 WHERE admin_id = #{userId}
	</select>
	
	<!-- 관리자 이벤트 등록 -->
	<insert id="insertEvent" parameterType="Map">
		INSERT INTO event 
		     VALUES (seq_event.NEXTVAL, #{eventName}, #{eventContent}, #{eventStartDate}, #{eventEndDate})
	</insert>

	<!-- 관리자 이벤트 변경 -->
	<update id="updateEvent" parameterType="Map">
		UPDATE event
		   SET event_name = #{eventName},
		       event_content = #{eventContent},
		       event_startdate = #{eventStartDate},
		       event_enddate = #{eventEndDate}
		 WHERE event_code = #{eventCode}
	</update>
	
	<!-- 관리자 이벤트 삭제 (이미지) -->
	<delete id="deleteEventPhoto" parameterType="String">
		DELETE FROM photo
		      WHERE photo_code = #{photoCode}
	</delete>
	
	<!-- 관리자 이벤트 삭제 -->
	<delete id="deleteEvent" parameterType="String">
		DELETE FROM event
			  WHERE event_code = #{eventCode}
	</delete>
	
</mapper>