<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oillive.dao.EventDao">
	
	<!-- 이벤트 개수 조회 (페이징) -->
	<select id="selectEventCount" parameterType="Map" resultType="int">
		SELECT count(*)
		  FROM event
		 WHERE 1 = 1
		    <if test="! eventName.isEmpty()"> <!-- 관리자 검색 기능 -->
		    	AND event_name LIKE '%' || #{eventName} || '%'
		    </if>
		  	<if test="filterName.equals('진행중')"> <!-- 사용자 이벤트 필터 -->
		   		<![CDATA[ AND event_startdate <= TO_DATE(#{today}, 'yyyy/MM/DD') ]]>  
				AND event_enddate >= TO_DATE(#{today}, 'yyyy/MM/DD')		    	
		   	</if>
		   	<if test="filterName.equals('종료')">
		   		<![CDATA[ AND event_enddate < TO_DATE(#{today}, 'yyyy/MM/DD') ]]>    	
		   	</if>
	</select>
	
	<!-- 이벤트 목록 조회 -->
	<select id="selectEventList" parameterType="Map" resultType="Map">
		SELECT E.*
		FROM (  SELECT ROWNUM RNUM, event_code, event_name, event_content, 
			       	   event_startdate, event_enddate, photo_code, photo_rename, photo_path
		          FROM ( SELECT * 
			       	   	FROM event	   
			       	   	ORDER BY event_enddate DESC
			       	   )
    	          JOIN photo
          		 USING (event_code)
		         WHERE 1 = 1
		    <if test="! eventName.isEmpty()">
		    	AND event_name LIKE '%' || #{eventName} || '%'
		    </if>
		   	<if test="filterName.equals('진행중')">
		   		<![CDATA[ AND event_startdate <= TO_DATE(#{today}, 'yyyy/MM/DD') ]]>  
				AND event_enddate >= TO_DATE(#{today}, 'yyyy/MM/DD')		    	
		   	</if>
		   	<if test="filterName.equals('종료')">
		   		<![CDATA[ AND event_enddate < TO_DATE(#{today}, 'yyyy/MM/DD') ]]>    	
		   	</if>
		        ) E
		WHERE E.rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
</mapper>