<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oillive.dao.OrdersDao">
	
	<!-- 결제 내역 추가 -->
	<update id="insertOrders" parameterType="Map">
		INSERT INTO orders 
			 VALUES ( seq_orders.NEXTVAL, #{userCode}, #{goodsCode}, 
				 	  #{orderAmount}, #{orderAddress}, #{orderRequest}, 
				 	  SYSDATE, DEFAULT )
	</update>
	
	<!-- 사용자 결제내역 -->
	<select id="getOrderList" parameterType="int" resultType="OrdersVO">
		SELECT *
		FROM orders
		WHERE user_code = #{userCode}
		AND order_status = 'Y'
		ORDER BY order_date DESC
	</select>
	
	<!-- 사용자 결제 상품목록 -->
	<select id="orderGoodsList" parameterType="String" resultType="OrdersVO">
		SELECT o.order_code, o.order_amount, o.order_request, o.order_date, o.order_status, o.order_address,
				g.goods_name, g.goods_price, g.goods_code, g.goods_discount
		FROM goods g, orders o
		WHERE g.goods_code = o.goods_code
		AND o.order_code = #{orderCode}
	</select>
	
	<!-- 사용자 결제목록 삭제 -->
	<update id="deleteOrder" parameterType="String">
		UPDATE orders
		SET order_status = 'N'
		WHERE order_code = #{orderCode}
	</update>
	
	<!-- 전체 판매목록 -->
	<select id="orderAllList" resultType="OrdersVO">
		SELECT g.goods_kind, g.goods_price, g.goods_discount, o.order_amount
        FROM goods g, orders o
        WHERE g.goods_code = o.goods_code 
        AND o.order_date BETWEEN EXTRACT(YEAR FROM (SYSDATE - INTERVAL '1' YEAR))|| '/01/01' 
        AND EXTRACT(YEAR FROM SYSDATE) || '/12/31'
	</select>
	
	<!-- 관리자 기간별 판매내역 페이징 개수 -->
	<select id="selectOrderCount" resultType="int">
		SELECT count(*)
		FROM orders
		WHERE 1 = 1
		    <if test="term.equals('week')">
		    	 AND order_date BETWEEN to_char(SYSDATE-8,'yyyy-mm-dd') AND SYSDATE
		    </if>
    	 	<if test="term.equals('month')">
		    	 AND order_date BETWEEN to_char(add_months(SYSDATE,-1),'yyyy-mm-dd') and SYSDATE
		    </if>
		     <if test="term.equals('year')">
		    	 AND order_date BETWEEN to_char(add_months(SYSDATE,-12),'yyyy-mm-dd') and SYSDATE
		    </if>
	</select>
	
	<!-- 판매내역 페이징 -->
	<select id="selectOrderList" parameterType="Map" resultType="Map">
		SELECT E.*
		FROM ( SELECT ROWNUM RNUM, o.*
			FROM (
					SELECT order_code, order_date, goods_name, user_id, order_request, order_address, order_amount
					FROM orders
					JOIN users
					USING (user_code)
					JOIN goods
					USING (goods_code)
					ORDER BY order_code DESC
				 ) o
        	WHERE 1 = 1
	     	<if test="term.equals('week')">
		    	 AND o.order_date BETWEEN to_char(SYSDATE-8,'yyyy-mm-dd') AND SYSDATE
		    </if>
    	 	<if test="term.equals('month')">
		    	 AND o.order_date BETWEEN to_char(add_months(SYSDATE,-1),'yyyy-mm-dd') AND SYSDATE
		    </if>
		     <if test="term.equals('year')">
		    	 AND o.order_date BETWEEN to_char(add_months(SYSDATE,-12),'yyyy-mm-dd') AND SYSDATE
		    </if>
		        ) E
		WHERE E.rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
</mapper>