<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oillive.dao.QBoardDao">
	
	<!-- 문의 작성 -->
	<insert id="qBoardWrite" parameterType="QBoardVO">
		INSERT INTO q_board 
		VALUES ( seq_q_board.NEXTVAL , #{userCode} , #{qBoardTitle} , #{qBoardQContent} , null
		 , SYSDATE , null , 'N' , 'Y')
	</insert>
	
	<!-- 사용자 문의목록 -->
	<select id="getQBoardList" parameterType="int" resultType="QBoardVO">
		SELECT *
		FROM q_board
		WHERE user_code = #{userCode}
		ORDER BY q_board_qdate DESC
	</select>
	
	<!-- 사용자 문의삭제 -->
	<delete id="deleteQBoard" parameterType="String">
		DELETE FROM q_board
		WHERE q_board_code = #{qboardCode}
	</delete>
</mapper>