<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oillive.dao.UploadDao">
	
	<!-- 문의등록 -->
	<insert id="upLoadQ" parameterType="PhotoVO">
	    <selectKey resultType="int" keyProperty="currentSeq" order="BEFORE">
        	SELECT last_number - 1
			  FROM user_sequences
			 WHERE sequence_name = UPPER('seq_q_board')
   		</selectKey> 
   		
		INSERT INTO photo 
		VALUES (seq_photo.NEXTVAL, null, #{currentSeq}, null, #{photoName}, #{photoReName}, #{photoPath})
	</insert>
	
	<!-- 상품등록 -->
	<insert id="upLoadG" parameterType="PhotoVO">
		    <selectKey resultType="int" keyProperty="currentSeq" order="BEFORE">
        	SELECT last_number - 1
			  FROM user_sequences
			 WHERE sequence_name = UPPER('seq_goods')
   		</selectKey> 
	
		INSERT INTO photo 
		VALUES (seq_photo.NEXTVAL, #{currentSeq}, null, null, #{photoName}, #{photoReName}, #{photoPath})
	</insert>
	
	<!-- 이벤트등록 -->
	<insert id="upLoadE" parameterType="PhotoVO">
	    <selectKey resultType="int" keyProperty="currentSeq" order="BEFORE">
        	SELECT last_number - 1
			  FROM user_sequences
			 WHERE sequence_name = UPPER('seq_event')
   		</selectKey>   

		INSERT INTO photo 
		VALUES (seq_photo.NEXTVAL, null, null, #{currentSeq}, #{photoName}, #{photoReName}, #{photoPath})
	</insert>
	
	<!-- 업로드된 파일 변경 -->
	<update id="upLoadU" parameterType="PhotoVO">
		 UPDATE photo
			SET PHOTO_NAME = #{photoName},
	     		PHOTO_RENAME = #{photoReName},
	     		PHOTO_PATH = #{photoPath}
	 	  WHERE PHOTO_CODE = #{photoCode}
	</update>
	
	<!-- 이미지 삭제 -->
	<delete id="deletePhoto" parameterType="String">
		DELETE FROM photo
		      WHERE photo_code = #{photoCode}
	</delete>

</mapper>