/* 윈도우 창 전체 */
.modiwrite-layout {
    text-align: center;
}

/* 윈도우 창 label div */
.modiwrite-label {
    text-align: left;
    margin-left: 30px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
}

/* 핸드폰 입력 div */
.modi-phone-div {
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
}

.modiwrite-layout hr{
    width: 95%;
}

/* 핸드폰 label */
.modi-phone-div label {
    margin-right: 20px;
    font-weight: bold;
}

/* 핸드폰 번호 input */
.modi-phone-div input {
    height: 40px;
    padding-left: 12px;
    border : 0.1em solid rgba(150, 150, 150, 0.5);
    outline: none;
}

.modi-phone-div input:focus {
    border-color: rgb(107, 187, 72);
    box-shadow: 0 0 6px 0 rgb(107, 187, 72);
}

/* 핸드폰 인증하기 버튼 */
.certi-button {
    margin-left: 10px;
    height: 40px;
    outline: none;
    background-color: rgb(9, 187, 89);
    border: none;
    border-radius:5px;
    color: white;
}

.certi-button:hover {
    background-color:rgb(21, 196, 100);
}

/* 핸드폰 인증하기 버튼 비활성화 */
.certi-button-fail {
    margin-left: 10px;
    background-color:  #dee2e6;
    border: none;
    border-radius:5px;
    color: white;
    height: 40px;
    outline: none;
}

/* 인증번호 div */
.certi-div {
    margin-top: 30px;
}

.certi-div input {
    width: 278px;
}

/* 인증번호 입력 확인, 재전송 */
.certi-ok-button {
    margin-left: 10px;
    background-color: rgb(9, 187, 89);
    height: 40px;
    outline: none;
    border: none;
    border-radius:5px;
    color: white;
    width: 60px;
}

.certi-ok-button:hover {
    background-color:rgb(21, 196, 100);
}

/* 휴대전화 저장하기 버튼 div */
.phone-save-button {
    margin-top: 60px;
}

/* 휴대전화 저장하기 버튼 */
.phone-save {
    height: 40px;
    width: 70%;
    background-color: black;
    font-weight: bold;
    color: white;
}

.phone-save-fail {
    background-color:  #dee2e6;
    border: none;
    height: 40px;
    width: 70%;
}

/* 취소버튼 */
.phone-cancel {
    border: none;
    height: 40px;
    width: 70%;
    background-color: red;
    font-weight: bold;
    color: white;
}

/* 주소찾기 창 */
.add-modal-span {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.add-modal-style {
    text-align: center;
    margin-top: 70px;
    border: 1px solid;
    background-color: black;
    border-radius: 5px;
}

/* 주소지변경 div */
.modi-add-div {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

.modi-add-div input{
    height: 40px;
    padding-left: 12px;
    border : 0.1em solid rgba(150, 150, 150, 0.5);
    outline: none;
    width: 300px;
    margin-top: 30px;
    margin-right: 20px;
}

.modi-add-div input:focus{
    border-color: rgb(107, 187, 72);
    box-shadow: 0 0 6px 0 rgb(107, 187, 72);
}