/* ----- 전체 레이아웃 CSS */
.basket-wrap {
    padding-top: 2%;
    padding-bottom: 5%;
    box-sizing: border-box;
    background-color: rgb(233, 235, 238);
}

/* ----- 본문 레이아웃 CSS */
.basket-layout {
    width: 50% !important;
    height: 100%;
    box-shadow: 1px 1px 1px;
    border: 0.5px solid rgba(150, 150, 150, 0.5);
    border-radius: 12px;
    padding: 20px;
    background-color: white;
}

/* ----- 장바구니 목록 레이아웃 CSS */
.basket-container {
    padding: 30px 0;
}

/* ----- button 태그 CSS */
.basket-button {
    margin: 0 3%;
}

/* ----- checkBox 태그 CSS */
.basket-checkBox {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

/* ----- table 태그 CSS */
.basket-table {
    text-align: center;
    border-top: 2px solid rgb(79, 97, 139);
    border-bottom: 2px solid rgb(79, 97, 139);
}

.basket-table>thead {
    margin-bottom: 50px;
    font-size: 17px;
    background-color: rgb(231, 241, 246);
}

.basket-table>tbody {
    font-size: 17px;
}

.table-td-1 {
    width: 5%;
}

.table-td-2 {
    width: 55%;
    text-align: left;
}

.table-td-3 {
    width: 10%;
}

.table-td-4 {
    width: 10%;
}

.table-td-5 {
    width: 10%;
}

/* ----- img 태그 CSS */
.basket-img {
    width: 15%;
    height: 15%;
}

.test {
    border: 1px solid red;
}