/* 전체 레이아웃 */
.car-layout {
    text-align: center;
    background-color: rgb(233, 235, 238);
    position: static;
    z-index: 0;
}

/* 선택 div */
.car-select {   
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgb(120, 175, 10);
    color: white;
    height: 50px;
    width: 100%;
    font-weight: bold;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    display:flex;
}

/* label div */
.label-div {
    padding-right: 50px;
    width: 33.3%;
}

/* 지역 select box */
.area-select {
    margin-left: 20px;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border:rgb(120, 175, 10);
    background-color: rgb(46, 121, 33);
    color: white;
    font-weight: bold;
}

/* icon div */
.label-div-icon {
    width: 33.3%;
    text-align: left;
    margin-left: 20px;
}

/* select div */
.label-div-select {
    width: 33.3%;
    text-align: right;
    margin-right: 20px;
}